/* Override default MarkerCluster background colors */
/* Using :global() because we're overriding external library class names */

:global(.marker-cluster-small),
:global(.marker-cluster-medium),
:global(.marker-cluster-large),
:global(.custom-cluster-icon) {
  background-color: transparent !important;
  background: transparent !important;
}

:global(.marker-cluster-small) div,
:global(.marker-cluster-medium) div,
:global(.marker-cluster-large) div,
:global(.custom-cluster-icon) div {
  background-color: transparent !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/* Remove default span backgrounds */
:global(.marker-cluster-small) span,
:global(.marker-cluster-medium) span,
:global(.marker-cluster-large) span,
:global(.custom-cluster-icon) span {
  background-color: transparent !important;
  display: none !important;
}

/* Make sure our custom div with gradient is visible and has no extra backgrounds */
:global(div[style*="background: linear-gradient"]) {
  display: flex !important;
}

/* Remove any parent div backgrounds */
:global(.leaflet-marker-icon.custom-cluster-icon) {
  background: none !important;
  border: none !important;
}

:global(.leaflet-marker-icon.custom-cluster-icon) > div {
  margin: 0 !important;
  padding: 0 !important;
}
