name: Deploy with Self-Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: copy .env from host
        run: cp /home/fredi/projects/.env .env

      - name: Build and Deploy
        run: |
          docker-compose up -d --build
          docker image prune -f
