name: Deploy with Self-Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Deploy
        run: |
          docker-compose -f /home/runner/_work/filosofi-yogya-mod/filosofi-yogya-mod/docker-compose.yml up -d --build
          docker image prune -f
